# ======================
# Experiment outputs
# ======================
saved_logs/
saved_models/
saved_plots/

# ======================
# Dataset
# ======================
data/

# ======================
# Python cache
# ======================
__pycache__/
*.pyc

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/